.categoryList
{
    width: 85%;
    background-color: rebeccapurple;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    padding:20px;
    margin-top: 4%;
}
.categoryItem:hover
{
    background-color: white;
}
.categoryItem
{
    width: 95%;
    background-color: #e5e4e8;
    margin-top: 30px;
    min-height: 200px;
    height: auto;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;

}
#catName
{
    text-align: center;
    padding: 1%;
    color: #282c34;
    size: 30px;
}
#mainName
{
    margin-left: 2.5%;
    color: white;
    padding-top: 50px;

}
.navigation
{
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    width: 95%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}
.NavigationItem
{
    color: rebeccapurple;
    margin-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
}
.NavigationItem:hover
{
    background-color: rebeccapurple;
    color: white;
    border-radius: 10px;
}
