.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.card {
    display: inline-block;
}

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.card {
    flex: 0 0 auto;
}
.scrolling-wrapper {
    -webkit-overflow-scrolling: touch;
}
.productImg
{
    width: 100%;
    height: 250px;
    overflow: hidden;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}
.font-weight-bold
{
    float: left;
}
