.loginContainer
{
    width: 90%;
    background-color: rebeccapurple;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 100px;
    border-radius: 10px;
}
.inputFieldContainer
{
    background-color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin-top: 100px;
}
.textInput
{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    height: 40px;
    margin-top: 15px;
    padding-left: 10px;
}
.buttons
{
    width: 71%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    height: 48px;
    background-color: rebeccapurple;
    color: white;
    padding-left: 10px;
}
.NavigationItem
{
    cursor: pointer;
}