.productList
{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    overflow-x: auto;
    padding-right: 50px;
    padding-left: 20px;
    overflow-y: auto;


}
.productItem
{
    width: 200px;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 50px;
    border: 3px solid rebeccapurple;
    cursor: pointer;

    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(7, calc(50% - 40px));
    grid-template-rows: minmax(200px, 1fr);
    padding: 0 30px;
}
.productItem:hover
{
    background-color: rebeccapurple;
    color: white;
}
#productName
{
    text-align: center;
}