.productList
{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-right: 50px;
    padding-left: 20px;
    overflow: auto;


}
.productItem
{
    width: 200px;
    height: 200px;
    min-width: 200px;
    min-height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 50px;
    border: 3px solid rebeccapurple;
    cursor: pointer;
}
.productItem:hover
{
    background-color: rebeccapurple;
    color: white;
}
#productName
{
    text-align: center;
}