.productList
{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-right: 50px;
    padding-left: 20px;
    overflow: auto;


}
.productItem
{
    width: 200px;
    height: 200px;
    min-width: 200px;
    min-height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 50px;
    cursor: pointer;
    color: white;
    background-image: url('https://scontent.fcmb1-1.fna.fbcdn.net/v/t1.0-9/p720x720/93794211_215217119927900_2555796898816458752_o.jpg?_nc_cat=104&_nc_sid=85a577&_nc_ohc=xAkyRz7bRTsAX-a6X_w&_nc_ht=scontent.fcmb1-1.fna&_nc_tp=6&oh=48baa480cc116ab35d45fb24c3a153be&oe=5ECBD8C8');
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
    background-repeat: no-repeat;
    border: 3px solid white;
    background-size: 200px auto;
    background-position: center center;
}
.productItem:hover
{
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
    border: 3px solid rebeccapurple;

    /*-webkit-filter: brightness(70%);*/
    /*-webkit-transition: all 1s ease;*/
    /*-moz-transition: all 1s ease;*/
    /*-o-transition: all 1s ease;*/
    /*-ms-transition: all 1s ease;*/
    /*transition: all 1s ease;*/
    color: white;
}
#productName
{
    text-align: center;
    margin-top: -40px;
}