.container
{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    min-height: 600px;
    margin-top: 2%;
    height: auto;
    background-color: rebeccapurple;
}
.productDetails
{
    display: flex;
    flex-direction: revert;
}
#productImage
{
    width: 20%;
    margin: 1%;
    min-width: 130px;
    border-radius: 10px;
    margin-left: 5%;
    border: 5px solid white;
    margin-top:5%;
}
#productName
{
    color: black;
    background-color: white;
    text-align: left;
    margin-top: 5px;
    margin-left: 5px;
}
#productPrice
{
    color: black;
    background-color: white;
    text-align: left;
    margin-top: -15px;
    margin-left: 5px;
}
.productInfoContainer
{
    width: 100%;
    margin-top:5%;
    margin-right: 5%;
    margin-left: 2%;
    margin-bottom: 1%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.buttonContainer
{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
#addToWishListButton
{
    width: 50%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    float: left;
    margin-left: 10px;
    text-decoration: none;
    cursor: pointer;
}
#buyButton
{
    width: 50%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    float: left;
    text-decoration: none;
    cursor: pointer;

}
