.productList
{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-right: 50px;
    padding-left: 20px;
    overflow: auto;


}
.productItem
{
    width: 200px;
    height: 200px;
    min-width: 200px;
    min-height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 50px;
    cursor: pointer;
    color: white;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
    background-repeat: no-repeat;
    border: 3px solid white;
    background-size: 200px auto;
    background-position: center center;
}
.productItem:hover
{
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
    border: 3px solid rebeccapurple;

    /*-webkit-filter: brightness(70%);*/
    /*-webkit-transition: all 1s ease;*/
    /*-moz-transition: all 1s ease;*/
    /*-o-transition: all 1s ease;*/
    /*-ms-transition: all 1s ease;*/
    /*transition: all 1s ease;*/
    color: white;
}
#productNameMain
{
    text-align: center;
    margin-top: -40px;
}