.container
{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    min-height: 600px;
    margin-top: 2%;
    height: auto;
    background-image: url("https://www.cariloha.com/media/wysiwyg/W_Sleepwear_ShopFeatures.jpg");
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
    background-size:auto;
    background-position: center center
}
.productDetailscontainer
{
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
}
.productDetails
{
    display: flex;
    flex-direction: revert;
    margin-top: 20px;
}
#productImage
{
    width: 100%;
    height: auto;
}
#productName
{
    color: black;
    background-color: white;
    text-align: left;
    margin-top: 5px;
    font-size: 30px;
}
#productPrice
{
    color: black;
    background-color: white;
    text-align: left;
    margin-top: -15px;
    margin-left: 5px;
}
.productInfoContainer
{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.buttonContainer
{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
#addToWishListButton
{
    width: 50%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    float: left;
    margin-left: 10px;
    text-decoration: none;
    cursor: pointer;
}
.btn
{
    width: 100%;
}
.imageDiv
{

}
.infoDiv
{

}

