.rateItem
{
    display: flex;
    flex-direction: row;
}
.star
{
    width: 20px;
    height: 20px;
}
.inputstarInactive
{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.inputstarActive
{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
#rateName
{
    color: black;
    max-lines: 1;
    font-size: 15px;
    width: 100%;
    margin-top: 10px;
}
.crudOperations
{
    display: flex;
    flex-direction: row;
}
.crudImg
{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
#commentInput
{
    width: 45%;
}
.rateItemContainer
{
    display: flex;
    flex-direction: column;
}
.ratingList
{
    background-color: white;
    border-radius: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}
#commentText
{
    font-size: 20px;
}
.fivestars
{
    margin-top: -10px;
}
.ratingContainer
{

}
.userInputRating
{
    width: 100%;
}
