.rateItem
{
    display: flex;
    flex-direction: row;
}
.star
{
    width: 30px;
    height: 30px;
}
.inputstarInactive
{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.inputstarActive
{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/*.inputstarInactive:hover*/
/*{*/
/*    content: url('http://localhost:3000/static/media/filled_rating.37d75099.png');*/
/*}*/
/*}*/

#rateName
{
    color: white;
    margin-left: 0.5%;
    margin-top: -5px;
}

