.container-fluid
{
    width: 100%;
    min-height: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    background-image: url("https://www.sustainablejungle.com/wp-content/uploads/2019/06/Photo-by-Artem-Beliaikin-@belart84-on-Unsplash.jpg");
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
    background-size: cover;
}
.label
{
    color: black;
}
.form-group2
{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 600px;
    background-color: #F1F1F1;
    padding: 30px;
    border-radius: 10px;
}
.form-group
{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 600px;
}
.p-5
{

}
