.navbar-color {
    background-color: #b041e4;
}

.header-link:hover {
    background-color: #ffffff;
}

.header-link {
    margin-left: 2px;
    margin-right: 2px;
}

.productDiv
{
    width: 90%;
    background-color: #F1F1F1;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    min-height: 250px;
    padding: 10px;

}
.productBody
{
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    min-height: 563px;
    background-image: url("https://www.sustainablejungle.com/wp-content/uploads/2019/06/Photo-by-Artem-Beliaikin-@belart84-on-Unsplash.jpg");
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.0);
    background-size: cover;
    padding-top: 50px;
}
.userImage
{
    width: 35px;
    height: 35px;
}
