.wishListContainer
{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}
.wishListTopContainer
{
    background-color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 4%;
}
#wishListRemoveBtn
{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rebeccapurple;
    padding: 10px;
    color: white;
    margin-top: -10px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 8px;
}
#addTocartBtn
{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rebeccapurple;
    padding: 10px;
    color: white;
    margin-top: -10px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 8px;
}
#wishListRemoveBtn:hover
{
    background-color: red;
    color: white;
}
#wishListproductName
{
    color: rebeccapurple;
    text-align: center;
    margin-top: -40px;
}
#wishListTopic
{
    color: rebeccapurple;
    margin-left: 10px;
}